.frame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1500px;
  height: 400px;
  background-color: #e0e0e0;
  border-radius: 20px;
  margin-top: 10px;
}

.box {
  text-decoration: none;
  display: block;
  justify-content: space-around;
  width: 400px;
  height: 350px;
  background-color: #ededed;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.frame :hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.CountryFlag {
  width: 210px;
  height: 140px;
  display: block;
  margin-bottom: 10px;
  margin-left: 95px;
  border-radius: 50px;
}

.CountryName {
  display: block;
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 10px 0;
  font-family: "Agency FB Bold";
}

.CountryInfo {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
}

@font-face {
  text-align: center;
  width: 150px;
  font-family: "Agency FB Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Agency FB Bold"),
    url("AGENCYB.woff") format("woff");
}
